<div class="container">
    <div class="main">
        <h1 class="h1">Часто задаваемые вопросы</h1>
        <aeb-accordion [header]="'Как пройти практику?'">Пройти <a routerLink="/resume">онлайн резюме</a> на нашем
            сайте. Пройдет отбор практикантов, где мы решим подходите ли вы нам.</aeb-accordion><br>
        <aeb-accordion [header]="'По каким вакансиям мы ищем стажера?'">С этим вы можете ознакомиться на вкладке <a
                routerLink="/trainee">“Практикантам”</a></aeb-accordion><br>
        <aeb-accordion [header]="'А если я уже давно окончил вуз?'">Верхнего возрастного ограничения нет, вы можете
            подать заявку.</aeb-accordion><br>
        <aeb-accordion [header]="'Когда ждать обратную связь после отправления заявки?'">По завершении регистрации на
            почту придет письмо с датами отборочных испытаний по выбранному направлению.</aeb-accordion><br>
        <aeb-accordion [header]="'Можно ли совмещать стажировку и учёбу?'">Совмещать учёбу и работу можно — всё зависит
            только от тебя.</aeb-accordion><br>
        <aeb-accordion [header]="'Какие условия у стажировки?'">Занятость — полный рабочий день в удалённом или
            гибридном формате. Стажировка оплачиваемая и продлится два-три месяца — точные даты зависят от выбранного
            трека.</aeb-accordion><br>
        <aeb-accordion [header]="'Я подал заявку на программу, но мне до сих пор не ответили'">Мы получаем много заявок
            на стажировку и внимательно их изучаем. Мы показываем твою анкету всем руководителям, поэтому если ты долго
            не получаешь приглашение на собеседование — не расстраивайся, мы в процессе поиска команды твоей мечты.
            Следи за сообщениями на почте и не пропускай телефонные звонки.</aeb-accordion><br>
    </div>
</div>