<div class="form-panel">
    <a routerLink="/"><img [src]="'../assets/images/aeb_logo_s.svg'"></a>
    <form #myForm="ngForm" novalidate (ngSubmit)="onSubmit(myForm)">
        <input type="text" name="login" [(ngModel)]="login" placeholder="Пользователь" required pattern="^\S+$" />
        <div class="password-container">
            <input [type]="pass1_type?'password':'text'" name="password1" [(ngModel)]="password1" placeholder="Пароль"
                required pattern="^\S+$" />
            <i [class]="pass1_type?'eye':'eye-slash'" (click)="togglePassField1()"></i>
        </div>
        <input type="submit" [class]="myForm.invalid?'primary-button--solid--disabled':'primary-button--solid'"
            [disabled]="myForm.invalid" value="Войти" />
    </form>
    <p>Еще не <a routerLink="/signup">зарегистрировались?</a></p>
</div>