:host {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    background-color: var(--footer-background);
}

.form-panel {
    margin-top: 104px;
    width: 410px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

form {
    width: 100%;
    margin-top: 40px;
    padding: 0 40px 40px 40px;
    display: flex;
    flex-direction: column;
    background-color: var(--background);
    align-items: center;
    border-radius: 16px;
}

input[type="text"],
input[type="password"] {
    background-color: var(--background);
    height: 48px;
}

input,
i {
    margin-top: 40px;
}


input[type="text"].email,
input[type="password"],
input[type="submit"],
p {
    margin-top: 40px;
}

a {
    color: var(--blue);
    transition: 0.2s;
}

a:hover {
    color: var(--blue2);
    transition: 0.2s;
}