<div class="container">
    <div>
        <div class="content">
            <div style="width: 580px">
                <h1>Пройдите практику в Алмазэргиэнбанке</h1>
                <h2>Разработайте проект вместе с командой, получите новый опыт в профессиональной сфере разработки
                    АЭБ-Айти</h2>
                <input type="button" value="Подробнее" class="primary-button--solid" style="margin-top:16px;">
            </div>
            <div>
                <div style="width: 500px; height: 484px; background-color: var(--blue);"></div>
            </div>
        </div>
        <div class="content">
            <div>
                <div style="width: 500px; height: 484px; background-color: var(--blue);"></div>
            </div>
            <div style="width: 580px;">
                <div>
                    <h1>Разработка и продвижение проектов</h1>
                    <h2>Создавайте проект по требованиям разрешающий обусловленные проблемы</h2>
                </div>
                <div style="display:flex; flex-direction:column;">
                    <div style="display:flex; flex-direction:row;">
                        <div class="text">
                            <h1 class="h1-text">01</h1>
                            <p>Соберите себе команду разработчиков из практикантов</p>
                        </div>
                        <div class="text">
                            <h1 class="h1-text">02</h1>
                            <p>Работайте вместе с профессиональными наставниками</p>
                        </div>
                    </div>
                    <div style="display:flex; flex-direction:row;">
                        <div class="text">
                            <h1 class="h1-text">03</h1>
                            <p>Покажите свои навыки работы в команде</p>
                        </div>
                        <div class="text">
                            <h1 class="h1-text">04</h1>
                            <p>Защитите свою работу</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="content bottom">
            <div style="width: 100%;">
                <h1 style="text-align: center; margin-bottom: 80px;">Что вы получите после прохождения практики</h1>
                <div style="display:flex; flex-direction:row;justify-content:space-between;-webkit-box-pack: justify;">
                    <div
                        style="display:flex; flex-direction:column; justify-content: center; align-items: center;width: 328px;">
                        <img class="content-icon" [src]="'../assets/images/nut_icon.svg'">
                        <h3 style="text-align: center;">Ознакомление</h3>
                        <p style="text-align: center;">Пройдите ознакомление по структуре Алмазэргиэнбанка, почувствуйте
                            себя сотрудником компании.
                        </p>
                    </div>
                    <div
                        style="display:flex; flex-direction:column; justify-content: center; align-items: center;width: 328px;">
                        <img class="content-icon" [src]="'../assets/images/cup_icon.svg'">
                        <h3 style="text-align: center;">Опыт</h3>
                        <p style="text-align: center;">Участвуйте в профессиональной сфере банка и подчеркните для себя
                            ключевые моменты.</p>
                    </div>
                    <div
                        style="display:flex; flex-direction:column; justify-content: center; align-items: center;width: 328px;">
                        <img class="content-icon" [src]="'../assets/images/rocket_icon.svg'">
                        <h3 style="text-align: center;">Цель</h3>
                        <p style="text-align: center;">Определите свою цель продвижения в IT-сфере.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>