<header style="position: fixed;" *ngIf="includeHeader">
    <div class="container">
        <div class="header-top">
            <div class="header-top-contents header">
                <div class="header-nav">
                    <a href="#" class="header-logo">
                        <img class="content-icon" [src]="'/assets/images/header_logo_blue.svg'">
                    </a>
                    <ul class="nav-menu">
                        <li class="nav-menu-item"><a href="#">Практикантам</a></li>
                        <li class="nav-menu-item"><a href="#">Сотрудникам</a></li>
                    </ul>
                </div>
                <div class="header-buttons">
                    <a routerLink="/signin" *ngIf="!authService.isLoggedIn"><input type="button" value="Войти"
                            class="primary-button"></a>
                    <a routerLink="/signup" *ngIf="!authService.isLoggedIn"><input type="button" value="Регистрация"
                            class="primary-button--solid"></a>
                    <a *ngIf="authService.isLoggedIn" (click)="logout()"><input type="button" value="Выйти"
                            class="primary-button"></a>
                    <a routerLink="/student" *ngIf="authService.isLoggedIn"><input type="button" value="Личный кабинет"
                            class="primary-button--solid"></a>
                </div>
            </div>
        </div>
    </div>
</header>
<main [style.paddingTop]="togglePadding?'88px':'0'">
    <router-outlet></router-outlet>
</main>
<footer class="aeb-footer" *ngIf="includeFooter">
    <div class="aeb-footer__content">
        <aeb-footer-top *ngIf="includeTop">
            <div #content>
                <ng-content></ng-content>
            </div>
            <div class="aeb-footer-top" *ngIf="!hasContent">
                <div class="aeb-footer-top__wrapper">
                    <div class="aeb-footer-top__column">
                        <div class="aeb-footer-top__row">
                            <div class="aeb-footer-top__cell">8 (4112) 34-22-22</div>
                            <div class="aeb-footer-top__head">Телефон</div>
                        </div>
                    </div>
                    <div class="aeb-footer-top__column">
                        <div class="aeb-footer-top__row">
                            <div class="aeb-footer-top__cell">8 800 100-34-22</div>
                            <div class="aeb-footer-top__head">Бесплатная горячая линия</div>
                        </div>
                    </div>
                    <div class="aeb-footer-top__column">
                        <div class="aeb-footer-top__row">
                            <div class="aeb-footer-top__cell">bank@albank.ru</div>
                            <div class="aeb-footer-top__head">Электронная почта</div>
                        </div>
                    </div>
                    <div class="aeb-footer-top__column">
                        <div class="aeb-footer-top__row">
                            <div class="aeb-footer-top__cell">г. Якутск, пр. Ленина, 1</div>
                            <div class="aeb-footer-top__head">Наш адрес</div>
                        </div>
                    </div>
                    <div class="aeb-footer-top__column">
                        <a class="aeb-footer-top__mobile-icon" style="margin:0">
                            <img class="content-icon" [src]="'/assets/images/aeb_logo_white.svg'">
                        </a>
                        <div class="aeb-footer-top__row">
                            <div class="aeb-footer-top__head"></div>
                            <div class="aeb-footer-top__cell"></div>
                        </div>
                    </div>
                </div>
            </div>
        </aeb-footer-top>
        <aeb-footer-menu [items]="items" *ngIf="includeMenu"></aeb-footer-menu>
        <aeb-footer-bottom [links]="links" *ngIf="includeBottom">
            <div #content>
                <ng-content></ng-content>
            </div>
            <div *ngIf="!hasContent" class="aeb-footer-bottom">
                <div class="aeb-footer-bottom__links">
                    <a class="aeb-footer-bottom__link" *ngFor="let link of links" [href]="link.link">{{ link.name
                        }}</a>
                </div>
                <div class="aeb-footer-bottom__rights">
                    © 2022 АКБ «Алмазэргиэнбанк» АО. Генеральная лицензия ЦБ РФ №2602 от 08.06.2015
                </div>
            </div>
        </aeb-footer-bottom>
    </div>
</footer>