<div class="container">
    <div class="row">
        <div class="column left">
            <div class="photo"><img [src]="avatar" *ngIf="avatar!=undefined" onload="this.style.display='inline'"></div>
            <a routerLink="/resume" *ngIf="resume==undefined || resume.secondName==undefined"><input type="button"
                    value="Заполнить резюме" class="primary-button"></a>
            <a routerLink="/resume" *ngIf="resume!=undefined && resume.secondName!=undefined"><input type="button"
                    value="Редактировать резюме" class="primary-button"></a>
        </div>
        <div class="column right">
            <h1>Информация</h1>
            <p>Никнейм: {{username}}</p>
            <div *ngIf="resume!=undefined && resume.secondName!=undefined">
                <p>Фамилия: {{resume.secondName}}</p>
                <p>Имя: {{resume.firstName}}</p>
                <p>Отчество: {{resume.patronymic}}</p>
                <p>Дата рождения: {{resume.birthdate}}</p>
                <p>Моб. телефон: {{resume.phoneNumber}}</p>
                <p>Электронная почта: {{resume.email}}</p>
                <p>Учебная группа: {{resume.eduGroup}}</p>
            </div>
        </div>
    </div>
</div>