:host {
    display: flex;
    justify-content: center;
}

.form-panel {
    width: 780px;
}

.fields {
    display: flex;
    flex-direction: column;
}

.photo-field {
    /* margin: 16px 0 16px 16px; */
    min-width: 254px;
    min-height: 254px;
    background-color: var(--blue);
    /* border-radius: 8px; */
}

.profile-photo-href {
    height: 100%;
    color: #fff;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}