<div class="container">
    <div class="form-panel">
        <form>
            <div class="personal-info fields">
                <h1>Личная информация</h1>
                <p>При трудоустройстве важна каждая деталь, поэтому созданию резюме необходимо уделить внимание.
                    Впечатление
                    создаётся вовсе не после полного прочтения, а уже в первые секунды, пока взгляд скользит по наиболее
                    важным
                    для работодателя блокам. </p>
                <div style="display: flex; flex-direction: row;">
                    <div style="display: flex; flex-direction: column;">
                        <div style="display: flex; flex-direction: row;">
                            <input type="text" placeholder="Фамилия">
                            <input type="text" placeholder="Имя">
                        </div>
                        <input type="text" placeholder="Отчество">
                        <div style="display: flex; flex-direction: row;">
                            <input type="text" placeholder="Дата Рождения">
                            <input type="text" placeholder="Номер телефона">
                        </div>
                        <input type="text" placeholder="Почта">
                    </div>
                    <div class="photo-field">
                        <img class="profile-photo" onerror="this.style.display='none'" src="URL">
                        <a class="profile-photo-href" href="#">Добавить фото</a>
                    </div>
                </div>
            </div>
            <div class="professional-info fields">
                <h1>Профессиональная информация</h1>
                <input type="text" placeholder="Образование">
                <input type="text" placeholder="Учебные работы (темы курсовых / ВКР)">
                <input type="text" placeholder="Цель">
                <input type="text" placeholder="Опыт работы">
                <input type="text" placeholder="Опыт прохождения практик">
                <input type="text" placeholder="Soft skills">
                <input type="text" placeholder="Hard skills">
                <input type="text" placeholder="Знание языков">
            </div>
        </form>
    </div>
</div>