* {
    margin: 0;
    box-sizing: border-box;
    font-family: "Montserrat_web";
    font-style: normal;
}

html {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: var(--text1);
}

.container {
    min-width: 1150px;
    max-width: 1200px;
    padding-right: 15px;
    padding-left: 15px;
    margin-left: auto;
    margin-right: auto;
    min-height: calc(100vh - 314px);
}

a {
    text-decoration: none;
    background-color: transparent;
}

main {
    padding-top: 88px;
    background-color: var(--background);
}